[submodule "AuthentificationService"]
	path = AuthentificationService
	url = https://github.com/Kim0Sama/AuthRepo.git
[submodule "NotificationService"]
	path = NotificationService
	url = https://github.com/Kim0Sama/NotificationRepo.git
[submodule "SalleService"]
	path = SalleService
	url = https://github.com/Kim0Sama/SalleRepo.git
[submodule "ReservationService"]
	path = ReservationService
	url = https://github.com/Kim0Sama/ReservationRepo.git
[submodule "IntegrationService"]
	path = IntegrationService
	url = https://github.com/Kim0Sama/IntegrationRepo.git
[submodule "UserService"]
	path = UserService
	url = https://github.com/Kim0Sama/UserRepo.git
[submodule "ReportingService"]
	path = ReportingService
	url = https://github.com/Kim0Sama/ReportingRepo.git
[submodule "PlanningService"]
	path = PlanningService
	url = https://github.com/Kim0Sama/PlanningRepo.git
[submodule "GatewayService"]
	path = GatewayService
	url = https://github.com/Kim0Sama/GatewayRepo.git
[submodule "EurekaService"]
	path = EurekaService
	url = https://github.com/Kim0Sama/EurekaRepo.git
